[submodule "deps/zephyr"]
	path = deps/zephyr
	url = https://github.com/zephyrproject-rtos/zephyr.git
[submodule "deps/jerryscript"]
	path = deps/jerryscript
	url = https://github.com/jerryscript-project/jerryscript.git
[submodule "deps/ihex"]
	path = deps/ihex
	url = https://github.com/arkku/ihex.git
[submodule "deps/iotivity-constrained"]
	path = deps/iotivity-constrained
	url = https://github.com/iotivity/iotivity-constrained.git
